{# sqldef.j2 - Jinja2 macros for SQL DB #}


{% macro db_user() -%}
CURRENT_USER()
{%- endmacro %}


{% macro db_now() -%}
NOW()
{%- endmacro %}


{% macro declare_pk(list) -%}
-- primary key
{% if row_soft_delete -%}
PRIMARY KEY({{list}}, 'DELETED')
{% else -%}
PRIMARY KEY({{list}})
{% endif -%}
{%- endmacro %}


{% macro declare_fk(fk_col, fk_table, fk_id) -%}
-- foreign key: {{fk_table}}
{{fk_col}} INT,
FOREIGN KEY ({{fk_col}}) REFERENCES {{fk_table}} ( {{fk_id}} )
{%- endmacro %}


{% macro soft_delete() -%}
-- soft delete
DELETED INT DEFAULT 0
{%- endmacro %}


{% macro audit_columns() -%}
-- audit columns
UPDATED_TS DATETIME,
UPDATED_BY VARCHAR(128),
CREATED_TS DATETIME,
CREATED_BY VARCHAR(128)
{%- endmacro %}

{% macro simple_name_descr() -%}
-- name, description
NAME VARCHAR(64),
DESCRIPTION VARCHAR(1024)

{%- endmacro %}

{% macro auto_inc(name) -%}
-- auto {{name}}
{{name}} INT AUTO_INCREMENT
{% endmacro %}

